DATABASE_URL=sqlite:///./database.db
MODEL_NAME=cardiffnlp/twitter-roberta-base-sentiment
ABSA_MODEL_PATH=../../Models piplines /Sentimental Analysis/models/deberta-absa
# Options: roberta | deberta_absa
SENTIMENT_BACKEND=deberta_absa